/* HomePage.module.css */
:root {
  --border-color: #abb0ff;
}

.active_btn_color {
  color: #57ff57;
}

.inactive_btn_color {
  color: #ff3030
}

.centered_title {
  text-align: center; /* center text */
  margin-top: 10px; 
  margin-bottom: 30px; 
  color: #000cbb;
}

.top_grid {
  display: flex;
  justify-content: space-around;
  border: 1.5px solid var(--border-color);
  padding: 10px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  width: 95%;
  flex-wrap: wrap;
}

.top_grid_side_container {
  flex: 1 1 10%;
  border: 1.5px solid var(--border-color);
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  padding: 5px;
}

.top_grid_middle_container {
  flex: 2 2 15%;
  display: flex;
  flex-direction: column;
  border: 1.5px solid var(--border-color);
  margin-top: 20px;
  padding: 5px;
}

/* Used for System Row, Lights Row, Units Row */
.top_grid_label_button_row {
  display: flex;
  width: 100%;
  box-sizing: border;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Used in System Label, Lights Label, Units Label */
.top_grid_label {
  background-color: #121212;
  display: inline-block;
  font-size: 1rem;
  line-height: 10px;
  padding: 10px;
  border: 1.5px solid #ccc;
  border-radius: 5px;
  width: 80%; /* Longer input width */
  margin-right: 5px; /* Space between input and button */
}
.top_grid_label_2 {
  text-align: center;
  background-color: #121212;
  display: inline-block;
  font-size: 20px;
  line-height: 10px;
  padding: 10px 2px;
  border: 1.5px solid #ccc;
  border-radius: 5px;
  width: 20%; /* Shorter input width */
}

/* Used in System BTN, Lights BTN, Units BTN */
.top_grid_btn {
  background-color: #121212;
  display: inline-block;
  padding: 0;
  width: 20%;
  /* color: white; */
  font-size: 20px;
  border: 1.5px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  flex-shrink: 0;
}

.top_grid_label_row {
  display: flex;
  width: 100%;
  box-sizing: border;
  justify-content: space-between;
  margin-left: 0;
  margin-right: 0;
}

.top_grid_medium_label {
  background-color: #121212;
  display: inline-block;
  font-size: 20px;
  line-height: 10px;
  padding: 10px 20px;
  border: 1.5px solid #ccc;
  border-radius: 5px;
  margin-right: 5px; /* Space between input and button */
}

.top_grid_small_label {
  background-color: #121212;
  color: #57ff57;
  display: inline-block;
  text-align: center;
  font-size: 20px;
  line-height: 10px;
  padding: 10px 20px;
  border: 1.5px solid #ccc;
  border-radius: 5px;
  margin-right: 0; /* Space between input and button */
  flex-shrink: 0;
}


.customMarginLeft {
  margin-left: 10px;
}

.changeable_settings_grid {
  display: flex;
  justify-content: space-around;
  border: 1.5px solid var(--border-color);
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  flex-wrap: wrap;
}

.changeable_settings_container {
  text-align: center;
  background: #374b5b;
  border: 1.5px solid black;
  border-radius: 10px;
  padding: 0;
  flex: 1 1 15%;
  margin: 10px;
}

button {
  font-weight: bold;
}

label {
  display: block;
  font-weight: bold;
  color: white;
}

.changeable_label_container {
  padding: 10px 0;
  background-color: #302c2c;
  color: white;
  font-weight: bold;
  width: 100%;
  box-sizing: border;
  border-bottom: 1.5px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.changeable_settings_h1 {
  font-size: 50px;
  color: #a0a0ff;
  margin-top: 5px;
  margin-bottom: 10px;
}

.input_button_row {
  display: flex;
  width: 100%;
  box-sizing: border;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.changeable_settings_input {
  padding: 5px;
  border: 1.5px solid #ccc;
  border-radius: 5px;
  width: 40%; /* Longer input width */
  margin-left: 10px;
  margin-right: 5px; /* Space between input and button */
}

.changeable_settings_btn {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  flex-shrink: 0;
  margin-right: 10px;
  margin-left: 5px;
}

.lower_container {
  display: flex;
  justify-content: space-between;
  border: 1.5px solid var(--border-color);
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  flex-wrap: wrap;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 