:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
  overflow-y: auto;
  overflow-x: auto;; 
  min-height: 100vh; 
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  background-color: #4e575c;
  min-height: 100vh;  /* Full viewport height */
  display: block;
  justify-content: center;
  align-items: flex-start;
}